*~
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.rubbercache
*.synctex.gz
.lake/
.vagrant/
/build/
auto/
/plots
/writeup/writeup.pdf
/writeup/explorations/ternary_quartic_r3.pdf
/writeup/explorations/ternary_quartic_r4.pdf
/writeup/explorations/ternary_quartic_r4_progress.pdf
/writeup/explorations/ternary_quartic_r4_proof.pdf
writeup/explorations/ternary_quartic_r4_conjecture.pdf
writeup/explorations/ternary_quartic_r4_final.pdf
/writeup/blueprint.pdf
/writeup/summary.pdf
